summary::marker {
    content: "";
  }
  .scroll::-webkit-scrollbar {
    opacity:0;
        width:12px;
    }
    .scroll::-webkit-scrollbar-thumb {
    background-color:#1211;
    border-radius:10px;
    padding:0;
    height:5px;
    }
    .scroll{
      overflow-y: scroll
    }
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

 