summary::marker {
  content: "";
}

.scroll::-webkit-scrollbar {
 -webkit-appearance: none;
 display: none;
  width: 10px;
}

 

.scroll {
  overflow-y: scroll
}

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';