---
import Layout from "../layouts/Layout.astro";
---

<Layout title="login" description="Login To Use Postr!"
image=""
>
<div
class="h-screen w-screen flex flex-col justify-center  "
style="background-image:url('/images/loginback.png') ; background-size:cover; background-position:center; background-repeat:no-repeat;"
>
<div class="flex flex-col justify-center items-center">
    <button class="btn btn-ghost border-slate-200 bg-slate-200 
    
    "
    id="loginbtn"
    style="margin-top: 15vh;"
    >
       <img src="/icons/googleicon.png" class="w-6 h-6 mr-2" alt="google" />
        Login With Google

  </button>
</div>
 

</div>
</Layout>

<script is:inline type="module">
 import Pocketbase from '../../node_modules/pocketbase/dist/pocketbase.es.mjs'
 const api = new Pocketbase('https://postrapi.pockethost.io')
 function login(e) {
    e.preventDefault();
    let w = window.open()
    const data = api
      .collection("users")
      .authWithOAuth2({
        provider: "google",
        createData: {
          bio: "I am new to Postr!",
          followers: [],
        },
        urlCallback: (url) => {
          if (window.matchMedia("(display-mode: standalone)")) {
              w.location.href = url
          } else {
            window.open(
              url,
              " _blank",
              "location=yes,height=570,width=520,scrollbars=yes,status=yes"
            );

            document.querySelector(".btn").classList.add("animate-pulse");
          }
        },
      })
      .then((res) => {
        if (!res) {
          console.log("error");
          return;
        }
      });
    
     data.then((res) => {
     window.location.href = "/"
     
     });

    
  }
 const loginbtn = document.getElementById('loginbtn')
 loginbtn.onclick = async () => {
    login(event)
 }
    
</script>